.fontPM {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.header-txt {
  font-size: 4rem;
}

.powered-by-txt {
    font-size: 0.75rem;
}

.textOpenSans {
  font-family: "open sans", sans-serif;
}
